# Лабораторная работа №4.
# Анализ данных пассажиров "Титаника"

Гибель Титаника – одно из самых печально известных кораблекрушений в истории.

15 апреля 1912 года во время своего первого плавания считавшийся «непотопляемым» «Титаник» затонул после столкновения с айсбергом.
К сожалению, спасательных шлюпок для всех находившихся на борту не хватило, в результате чего погибли 1502 из 2224 пассажиров и членов экипажа.

Используя набор данных titanic.csv выполните следующие 10 заданий.

In [3]:
import numpy as np
import pandas as pd

1. Создайте DataFarame из файла titanic.csv, в качестве индекса используйте столбец "PassengerId"

In [11]:
# Ваш код здесь
df = pd.read_csv('titanic.csv', index_col='PassengerId')

2. Просмотрите первые 6 строк

In [12]:
# Ваш код здесь
df.head(6)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q

3. Выведите описание данных

In [13]:
# Ваш код здесь
df.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

4. Сколько мужчин / женщин находилось на борту?

In [14]:
# Ваш код здесь
gender_counts = df['Sex'].value_counts()
gender_counts

Sex
male      577
female    314
Name: count, dtype: int64

4. Выведите распределение переменной Pclass (социально-экономический статус) и это же распределение, только для мужчин / женщин по отдельности. Сколько было мужчин 2-го класса

In [20]:
# Ваш код здесь
df.pivot_table('Age', index='Sex', columns='Pclass', aggfunc='count')

Pclass    1   2    3
Sex
female   85  74  102
male    101  99  253

5. Каковы медиана и среднеквадрати́чное отклонение платежей (Fare)? Округлите до 2 десятичных знаков.

In [21]:
# Ваш код здесь
fare_median = round(df['Fare'].median(), 2)
fare_std = round(df['Fare'].std(), 2)

fare_median, fare_std

(14.45, 49.69)

6. Правда ли, что люди моложе 30 лет выживали чаще, чем люди старше 60 лет? Каковы доли выживших в обеих группах?

In [38]:
# Ваш код здесь
# Группируем по возрасту
young_group = df[df['Age'] < 30]
old_group = df[df['Age'] > 60]

young_survival_rate = young_group['Survived'].mean()
old_survival_rate = old_group['Survived'].mean()

young_survival_rate, old_survival_rate

(0.40625, 0.22727272727272727)

7. Правда ли, что женщины выживали чаще мужчин? Каковы доли выживших в обеих группах?

In [24]:
# Ваш код здесь
survival_rate_by_gender = df.groupby('Sex')['Survived'].mean()
survival_rate_by_gender

Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

8.  Найдите самое популярное имя среди пассажиров Титаника мужского пола?

In [35]:
# Ваш код здесь

male_passengers = df[df['Sex'] == 'male']

male_names = male_passengers['Name'].apply(lambda x: x.split(',')[1].split()[1] if len(x.split()) > 1 else x.split()[0])

most_common_name = male_names.mode().iloc[0]
print(f"The most common name among male passengers is: {most_common_name}")

The most common name among male passengers is: William



9. Как отличается средний возраст мужчин / женщин в зависимости от класса обслуживания? Выберите верные утверждения:

    В среднем мужчины 1-го класса старше 40 лет
    В среднем женщины 1-го класса старше 40 лет
    Мужчины всех классов в среднем старше женщин того же класса
    В среднем люди в 1 классе старше, чем во 2-ом, а те старше представителей 3-го класса

In [36]:
# Ваш код здесь
age_by_gender_and_class = df.groupby(['Sex', 'Pclass'])['Age'].mean()
age_by_gender_and_class

Sex     Pclass
female  1         34.611765
        2         28.722973
        3         21.750000
male    1         41.281386
        2         30.740707
        3         26.507589
Name: Age, dtype: float64

10. Сравните возраст у спасенных и у погибших пасажиров. Средний возраст погибших выше, верно?

In [37]:
# Ваш код здесь
age_by_survival = df.groupby('Survived')['Age'].mean()
age_by_survival

Survived
0    30.626179
1    28.343690
Name: Age, dtype: float64

### Дополнительные вопросы для защиты
1. Что такое медиана? Рассчитать медиану для предложенного ряда чисел.
Медиана — это значение, которое делит отсортированный набор данных на две равные части: половина значений будет меньше медианы, а половина — больше. Если количество элементов нечетное, медианой будет средний элемент. Если четное, то медиана — это среднее значение двух средних элементов.
2. Что такое дисперсия? Рассчитать дисперсию для предложенного ряда чисел.
Дисперсия измеряет, насколько сильно значения отклоняются от среднего значения. Она равна среднему квадрату отклонений каждого значения от среднего.
3. Что такое среднеквадратичное отклонение? Рассчитать среднеквадратичное отклонение для предложенного ряда чисел.
Среднеквадратичное отклонение — это квадратный корень из дисперсии. Оно дает представление о том, насколько сильно значения отклоняются от среднего.
4. Что такое Series и чем он отличается от DataFrame?
Series — это одномерный массив с метками (индексами), который может хранить данные различных типов (например, числа, строки). Series имеет индекс и значения.

DataFrame — это двумерная таблица данных, которая состоит из строк и столбцов. Каждый столбец может быть Series, и все столбцы могут иметь разные типы данных.
5. Можно ли изменить индекс в Series после создания объекта?
Да, индекс в Series можно изменить с помощью атрибута .index.
6. Можно ли выполнить операцию сложения над двумя объектами Series, если они имеют:
Одинаковые типы данных, одинаковые размеры и одинаковые индексы? Да, можно.
Одинаковые типы данных, одинаковые размеры, но разные индексы? Нет, индексы должны совпадать, чтобы операции прошли без ошибок.
Одинаковые типы данных, разные размеры и одинаковые индексы? Нет, размеры должны совпадать.
Разные типы данных, одинаковые размеры и одинаковые индексы? Нет, операцию можно выполнить только если типы данных совместимы.
Разные типы данных, одинаковые размеры и разные индексы? Нет, типы данных должны быть совместимы, и индексы тоже.
Разные типы данных, разные размеры и разные индексы? Нет, операция сложения не будет выполнена.
7. Что такое DataFrame и чем он отличается от Series?
DataFrame — это двумерная структура данных с метками для строк и столбцов, где каждый столбец представляет собой отдельную серию данных. Он отличается от Series тем, что может содержать более одного столбца с данными, тогда как Series — это одномерный объект.

8. Что необходимо сделать, чтобы число строк в DataFrame при его просмотре, по умолчанию составляло 8?
Для этого можно установить параметр отображения pandas:
pd.set_option('display.max_rows', 8)
9. Чем отличается метод iloc от метода loc?
iloc — используется для выбора данных по целочисловым позициям (индексам).
loc — используется для выбора данных по меткам индекса или имени столбца.
10. Можно ли добавить в DataFrame дополнительный Series?
Да, можно добавить Series в DataFrame как новый столбец:
python
df['new_column'] = series
11. Требуются ли установка дополнительных библиотек для загрузки с помощью pandas файлов в формате CSV? Excel (.xls)? Json?
Для загрузки CSV и JSON файлов не требуется установка дополнительных библиотек. pandas поддерживает их из коробки.
Для загрузки файлов Excel (.xls, .xlsx) необходимо установить библиотеку openpyxl или xlrd, в зависимости от версии pandas.